extends layout

block pagetitle
  title 404 - Malone Hedges

block content
  .snazzy
    h1.big-boy 404
      small  - not found
    p Where do you think you're going?
    p
      a(href='/') Let's just head on back to the home page, alright?
