extends layout

block content
  .snazzy
    h1.name MALONE HEDGES
    ul.social-links
      li
        a(href='https://twitter.com/malonehedges') twitter
      li
        a(href='https://instagram.com/malonehedges') instagram
      li
        a(href='https://www.youtube.com/channel/UC87XZHL03eAlN84n8R01vUA') youtube
      li
        a(href='https://github.com/malonehedges') github
      li
        a(href='https://open.spotify.com/user/1250105851') spotify
      li
        a(href='https://soundcloud.com/remmal') soundcloud
      li
        a(href='http://www.last.fm/user/xrm8') last.fm
