extends layout

block pagetitle
  title Malone Hedges

block content
  main.snazzy
    h1 MALONE HEDGES
    :marked
       * [twitter](https://twitter.com/malonehedges)
       * [instagram](https://instagram.com/malonehedges)
       * [github](https://github.com/malonehedges)
       * [vsco](https://vsco.co/remmal)
       * [spotify](https://open.spotify.com/user/1250105851)
       * [soundcloud](https://soundcloud.com/remmal)
       * [last.fm](http://www.last.fm/user/xrm8)
