html
  box-sizing: border-box
  font-size 62.5%

body
  background-color body-background
  font-size 1.6em
  line-height 1.6
  letter-spacing 0.01em
  font-weight 300
  font-family "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
  color text-color

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before
  box-sizing: inherit
