@import '_normalize'

@import '_settings'
@import '_base'
@import '_typography'

main.snazzy
  position: absolute
  top: 50%
  transform: translateY(-50%)

  padding-left 5em

  ul
    list-style-type none
    padding-left 2em
    margin 0
