@import '_normalize'

@import '_settings'
@import '_base'
@import '_typography'

.snazzy
  position: absolute
  top: 50%
  transform: translateY(-50%)

  padding-left 5em

.social-links
  list-style-type none
  padding-left 2em
  margin 0

  animation fadein 300ms ease-out

@keyframes fadein
  from
    opacity 0
    transform translateY(2em)
  to
    opacity 1
    transform translateY(0)
